:root {
    --positive-yellow: #ffa600;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: Roboto, sans-serif;
    font-size: 120%;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--positive-yellow);
}

body a.skip-link {
    text-align: center;
    margin-top: 8px;
    border: solid white;
    background-color: gray;
    padding: 4px;
    color: white;
    text-decoration: none;
    filter: drop-shadow(2px 2px 1px black);
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: orangered;
    text-decoration: underline;
}

header div.container {
    display: grid;
}

h1 {
    text-align: center;
    font-size: 400%;
    margin-bottom: 0;
}

header div.container a.link-github{
    font-size: 0;
}

body nav a {
    color: black;
}

body nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
    list-style: none;
}

li {
    
}

@media (orientation: portrait) {
    nav ul {
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    li + li::before {
        content: "|";
    }
}

main {
    
}

footer {
    background: white;
}