/* Ridge Racer Type 4's iconic Positive Yellow.
   0 Cyan - 35 Magenta - 100 Yellow - 0 Black */
:root {
    --positive-yellow: #ffa600;
}

/* General sizing, font declaration, organize container divs in centered columns, set background to Positive Yellow*/
body {
    font-family: Roboto, sans-serif;
    font-size: 120%;
    font-weight: 900;
    line-height: 1.15;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--positive-yellow);
}

/* RRT4 message-box-styled button and blockquote.*/
body a.skip-link, main div.container blockquote {
    text-align: center;
    margin-top: 8px;
    border: solid white;
    background-color: gray;
    padding: 4px;
    color: white;
    text-decoration: none;
    filter: drop-shadow(2px 2px black);
    text-shadow: 1px 1px black;
}

/* create border at top of header spanning width of view */
header {
    margin-top: 16px;
    border-top: solid black;
}

/* general link colors and interaction */
a {
    color: orangered;
    text-decoration: none;
}
a:visited {
    color: maroon;
}
a:hover {
    color: white;
    text-decoration: underline;
}


/* If landscape (desktop) put the star in a grid display, left of h1 and h2.
   Otherwise, the github star remains large in the column view (mobile first) */
@media screen and (orientation: landscape){
    header div.container {
        display: grid;
        grid-template-areas: 
        "star header"
        "star subhead"
        "paragraph paragraph";
        grid-template-columns: 1fr 2fr;
    }
}

/* Declare grid areas for elements affected by landscape orientation media query.
   Style type to keep the look close to RRT4*/
div.container h1 {
    grid-area: header;
    text-align: center;
    font-size: 400%;
    margin-bottom: 0;
}
div.container h2 {
    grid-area: subhead;
    text-align: center;
    margin-bottom: 0;
}

div.container p {
    grid-area: paragraph;
    text-align: center;
}

/* hide github link text, leaving the star as the only redirect button. */
header div.container a.link-github{
    grid-area: star;
    font-size: 0;
}

/* for the nav bar, keep the links simple.
   hovering turns them white and gives an underline for usability */
nav a {
    color: black;
}
nav a:visited {
    color: black;
}
nav a:hover {
    color: white;
    text-decoration: underline;
}

/* turn nav bar into a flexbox, remove list styling. */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0%;
    list-style: none;
}

/* if mobile, change order and spacing of navbar to be vertical, separated by underlines except for the last link. */
@media screen and (orientation: portrait) {
    nav ul {
        flex-direction: column;
    }
    nav li a {
        text-decoration: underline;
    }
    nav li:last-child a{
        text-decoration: none;
    }
}

/* if desktop, leave flex list items in horizontal order. Seperate with "|" */
@media screen and (orientation: landscape) {
    nav li + li::before {
        content: "|";
    }
}

/* article containers order in columns, create flex items. */
#main .container, #contribute, .profile .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* black border for each article's beginning/end. */
#main div article {
    border-top: solid black;
    margin-top: 8px;
}

#about > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main div.container h2 {
    font-size: 200%;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 0;
}

main div.container p {
    margin-bottom: 0;
}

main div.container blockquote p{
    margin: 0%;
}

#about > section:nth-child(2) > p:nth-child(3) {
    text-decoration: underline;
}

#about > section:nth-child(2) > ul:nth-child(4) {
    justify-content: center;
    list-style:square;
}

#about > section:nth-child(2) > ul:nth-child(4) li::marker {
    color: gray;
}

#files > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display:flex;
    align-items: center;
}

/* set custom flexbox list handling. */
.page-footer .container ul, .profile ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    list-style: none;
}